<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="resources">
      <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
      <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" defer></script>
    </th:block>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" th:fragment="navBar(current)">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Best of </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/movies}"
                       class="nav-link"
                       th:classAppend="${current=='movie'} ? active : not-active"
                    >movies</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/songs}"
                       class="nav-link"
                    th:classAppend="${current == 'song'} ? active : not-active"
                    >songs</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>